.config {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #333b4d;
    color: white;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.logo img {
    width: 80px;
    height: 100%;
    margin-left: 30px;
}

.logout {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.logout h1 {
    margin-right: 30px;
}

.logout button {
    width: 100px;
    background: rgb(230, 230, 230);
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.logout img {
    width: 40px;
}