.findtablebet {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.listable {
  width: 100%;
}

.listable td {
    border: 1px solid #dddddd;
    text-align: center;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .btnremover {
    background: rgb(253, 34, 78);
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
