html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

.content img {
  width: 350px;
}

.app {
  width: 100%;
}

.bg-color-1 {
  background: #606060;
}

.bg-color-2 {
  background: #ffffff;
}
