.navbar {
    width: 100%;
    height: 80px;
    background: white;
    position: fixed;
    box-shadow: 1px 1px 15px rgba(71, 71, 71, 0.719);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 100%;
}

.login {
    color: #333b4d;
    cursor: pointer;
}

.login:hover {
    color: #FFC83E;
}

.login h1 {
    padding: 10px;
}

.content {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
}

.links ul li {
    list-style: none;
    margin: 10px;
    font-weight: 500;
}

.links ul li:hover {
    color: #FFC83E;
}


@media (max-width: 600px) {
    .links {
        display: none;
    }
}