.listbet table {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.listable td {
    border: 1px solid #dddddd;
    text-align: left;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }