.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.config {
    grid-area: "config";
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    grid-area: "menu";
    background: cornflowerblue;
    width: 20%;
    display: flex;
    justify-content: center;
}

.content {
    grid-area: "content";
    background: royalblue;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}